/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    z-index: 1;
}

.header__navbar {
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    display: flex;
    justify-content: space-around;
}

.header__navbar-list {
    display: inline-block;
}

.header__navbar-item {
    list-style: none;
    display: inline-block;
    color: var(--white-color);
    margin-left: 15px;
    position: relative;
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    border-left: 3px solid #fff;
    opacity: 0.3;
    right: -8px;
    top: 0px;
    transform: translateY(40%);
}

.header__navbar-list-icon {
    display: inline-block;
}
.header__navbar-item-icon {
    display: inline-block;
    list-style: none;
}
.header__navbar-item a {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
}
.header__navbar-item-icon a {
    color: var(--white-color);
}

.header__navbar-item--hover:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Header QR */
.header__qr {
    border-radius: 2px;
    position: absolute;
    width: 186px;
    background-color: var(--white-color);
    top: 100%;
    left: 0%;
    transform: translateY(15px);
    display: none;
}

.header__qr::before {
    position: absolute;
    top: -20px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}

.header__qr:hover {
    cursor: auto;
}

.header__qr-img {
    width: 100%;
    padding: 6px 6px;
}

.header__qr-apps {
    margin-bottom: 5px;
}

.header__qr-apps-item {
    padding: 0px 15px;
}

.header__navbar-item--hasQR:hover .header__qr {
    display: block;
}

/* Header notification */
.header__notification {
    display: none;
    background-color: var(--white-color);
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    height: 300px;
    transform: translateY(5px);
    animation: notification 0.5s;
    cursor: pointer;
}

.header__notification::before {
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 1em solid var(--white-color);
    display: block;
    content: "";
    position: absolute;
    right: 1em;
    top: -0.8em;
    animation: notification 0.5s;
}

.header__notification-img {
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

.header__notification p {
    color: black;
    text-align: center;
}

.header__notification a {
    color: black;
    text-align: center;
    font-size: 16px;
    padding: auto;
    
}

@keyframes notification {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar--has-notification:hover .header__notification {
    display: block;
}

.header__navbar--has-notification:hover .header__navbar-item-icon-paragraph::before {
    position: absolute;
    right: 0;
    top: 100%;
    content: "";
    width: 6em;
    height: 1em;
}

.header__notification-link {
    width: 100%;
    position: absolute;
    line-height: 3rem;
    bottom: 0px;
    left: 0;
}

.header__notification-link a:hover {
    opacity: 0.7;
    background-color: darkgrey;
    height: 100%;
    color: red;
}

/* Header Search */
.header-with-search {
    display: flex;
    margin: 2em 0em 1.3em 0em;
    margin-left: 14em;
}

.header-with-search div {
    display: inline-block;
}

.header-with-search .header__logo {
    margin-right: 40px;
}
.header-with-search .header__search {
    position: relative;
}
.header-with-search .header__cart {
    width: 8em;
    text-align: center;
    margin: 15px 20px 10px 20px;
    color: var(--white-color);
}

.header-with-search .header__logo-img {
    height: 3.5em;
}

.header-with-search .header__search-input-tag {
    border: 0;
    border-radius: 4px;
    padding-left: 15px;
    height: 3em;
    width: 67em;
}

.header-with-search .header__search-icon {
    border-radius: 2px;
    background-color: #f05d40;
    color: #fff;
    text-align: center;
    width: 5em;
    line-height: 2.5em;
    position: absolute;
    right: 3px;
    top: 3px;
}
.header-with-search .header__search-icon:hover {
    background-color: #fb6445;
    cursor: pointer;
}
.header__cart-icon {
    font-size: 1.8rem;
}
.header__cart-icon:hover {
    cursor: pointer;
}

.header__search-selection {
    position: absolute;
    top: 85%;
    left: -5px;
}
.header__search-selection-list {
    list-style: none;
}

.header__search-selection-item {
    display: inline-block;
}
.header__search-selection-item a {
    color: var(--white-color);
    text-decoration: none;
    height: 1em;
    margin-left: 0.5em;
    font-size: 13px; 
}


/* Body */

.home-page {
    margin-top: 11em;
    margin-left: 13em;
    margin-right: 13em;
}
.full-home__banner-wrapper .container {
    width: 1200px;
    display: flex;
    position: relative;
}
.full-home-banner__main-banner {
    flex-grow: 2;
    overflow: hidden;
    position: relative;
}
.full-home-banner__main-banner:hover .full-home-banner__main-banner-button-rectangle{
    display: block;

}
.full-home-banner__main-banner-button-rectangle {
    display: none;
}
.full-home-banner__main-banner-button-rectangle:hover {
    cursor: pointer;
}
.full-home-banner__main-banner-button-rectangle i {
    line-height: 4em;
}
.full-home-banner__main-banner-button-rectangle-next:hover,
.full-home-banner__main-banner-button-rectangle-pre:hover {
    background-color: rgb(189, 188, 187);
}
.full-home-banner__main-banner-button-rectangle-next {
    text-align: center;
    background-color: rgb(130, 131, 133);
    color: #fff;
    opacity: 0.7;
    width: 35px;
    height: 55px;
    position: absolute;
    top: 40%;
    right: 0px;
}
.full-home-banner__main-banner-button-rectangle-pre {
    text-align: center;
    background-color: rgb(130, 131, 133);
    color: #fff;
    opacity: 0.7;
    width: 35px;
    height: 55px;
    position: absolute;
    top: 40%;
    left: 0px;
}
.full-home-banner__main-banner-list {
    position: absolute;
    top: 0px;
    left: -796.65px;
}
.full-home-banner__main-banner-list--move-left {
    transition: all 0.5s;
}
.full-home-banner__main-banner-item {
    display: inline-block;
    background: url(../img/home-page/full-home__banner/container/fuil-home-banner__main-banner/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 796.662px;
    height: 235px;
    border-radius: 3px;
}
.full-home__banner-wrapper .container .full-home-banner__main-banner-button-circle {
    position: absolute;
    bottom: 0.5em;
    left: 21em;
    text-align: center;
}
.full-home__banner-wrapper .container .full-home-banner__main-banner-button-circle .icon--css {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: hsla(0,0%,100%,.4);
    margin-left: 8px;
    border: 1px solid hsla(0,0%,53.7%,.4);
}
.full-home__banner-wrapper .container .full-home-banner__main-banner-button-circle .icon--css:hover {
    cursor: pointer;
}
.full-home__banner-wrapper .container .full-home-banner__main-banner-button-circle .icon--current {
    background-color: #ee4d2d;
}
.full-home-banner__right-banner {
    height: 235px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 5px;
}
.full-home-banner__right-banner-item1 {
    background: url(../img/home-page/full-home__banner/container/full-home-banner__right-banner/img1.png) no-repeat;
    background-size: contain;
    height: 115px;
    width: 100%;
    border-radius: 3px;
    align-self: flex-start;
}
.full-home-banner__right-banner-item2 {
    background: url(../img/home-page/full-home__banner/container/full-home-banner__right-banner/img2.png) no-repeat;
    background-size: contain;
    height: 115px;
    width: 100%;
    border-radius: 3px;
    align-self: flex-end;
}
.full-home-banner__list-section {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.full-home-banner__item-section {
    width: 150px;
}
.full-home-banner__item-section:hover {
    transform: translateY(-.0625rem);
    cursor: pointer;
}
.item-section__logo--wrap {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}
.item-section__logo {
    width: 45px;
    height: 45px;
}
.item-section__text {
    text-align: center;
    margin-bottom: 25px;
}

/* Body -> Container */
.container {
    width: 1200px;
}
.shopee-header-section.shopee-header-section--simple {
    padding-top: 20px;
}
.shopee-header-section__header {
    font-size: 16px;
    padding: 20px 20px;
}

.shopee-header-section__content:hover .shopee-header-section__content-button-right,
.shopee-header-section__content:hover .shopee-header-section__content-button-left {
   transform: scale(2.5,2.5);
}
.shopee-header-section__content .shopee-header-section__content-button-right {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    right: -14px;
    top: 45%;
    background-color: #fff;
    text-align: center;
    border: 1px solid rgb(242, 243, 245);
}
.shopee-header-section__content .shopee-header-section__content-button-left {
    display: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: -14px;
    top: 45%;
    background-color: #fff;
    text-align: center;
}
.shopee-header-section__content .shopee-header-section__content-button-right:hover,
.shopee-header-section__content .shopee-header-section__content-button-left:hover {
    cursor: pointer;
    transform: scale(2,2);
}
.shopee-header-section__content .shopee-header-section__content-button-right i,
.shopee-header-section__content .shopee-header-section__content-button-left i {
    transform: translateY(0.15em);
}
.shopee-header-section__content {
    position: relative;
}
.container .shopee-header-section__content .item-list-wrapper {
    position: relative;
    overflow: hidden;
    height: 302px;
}
.shopee-header-section__content .item-list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.item-list--move-right {
    animation-name: moveRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.item-list--move-left {
    animation-name: moveLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes moveRight {
    from {
        left: 0px;
    }
    to {
        left: -360px;
    }
}
@keyframes moveLeft {
    from {
        left: -360px;
    }
    to {
        left: 0px;
    }
}
.container .shopee-header-section__content .item {
    display: inline-block;
    list-style: none;
    width: 120px;
    height: 302px;
}
.shopee-header-section__content .item .item__wrap {
    border: 1px solid rgba(0,0,0,.05);
    text-align: center;
}
.shopee-header-section__content .item .item__wrap:hover {
    transform: translateZ(0);
    z-index: 1;
    border-color: rgba(0,0,0,.12);
    box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 12%);
    cursor: pointer;
}

.shopee-header-section__content .item .item__wrap-icon {
    width: 83.3px;
    height: 88.037px;
    text-align: center;
    display: inline-block;
}
.shopee-header-section__content .item .item__wrap-text {
    font-size: 15px;
    height: 3em;
    margin-bottom: 5px;
}

.flash-sale .shopee-header-section__header {
    background: url(../img/home-page/container/FLASH_SALE/FLASH\ SALE.png) no-repeat;
    font-size: 14px;
}

/* Flash - Sale */
.flash-sale__content .flash-sale__content-item {
    display: inline-block;
    list-style: none;
}
.flash-sale__content .flash-sale__content-item:hover {
    cursor: pointer;
}
.flash-sale__content .flash-sale__content-list-item {
    width: 1201px;
}
.flash-sale__content .item-wrap{
    width: 200px;
    height: 240px;
    position: relative;
    display: inline-block;
    text-align: center;
}
.flash-sale__content .item-wrap .item-wrap__badge {
    width: 36px;
    height: 40px;
    padding: 7px 8px;
    background-color: rgba(255,212,36,.9);
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    box-sizing: content-box;
}
.flash-sale__content .item-wrap .item-wrap__background {
    display: inline-block;
    height: 173px;
    width: 173px;
}
.flash-sale__content .item-wrap .item-wrap__text {
    text-align: center;
    color: #ee4d2d;
    font-size: 1.5em;
    padding: 7px;
}
.flash-sale__content .item-wrap .item-wrap__badge .item-wrap__badge-text1 {
    color: rgb(238, 77, 45);
    font-size: 1.5em;
}
.flash-sale__content .item-wrap .item-wrap__badge .item-wrap__badge-text2 {
    color: rgb(255, 255, 255);
}

.simple-banner {
    position: relative;
}
.simple-banner .banner-img {
    position: absolute;
    top: 0;
    left: 0;
}
.container .click-sections-wrapper {
    width: 100%;
    display: flex;
}
.container .click-sections-wrapper .click-section {
    z-index: 1;
    flex-grow: 33.3333;
    height: 110px;
}
.container .click-sections-wrapper .click-section:hover {
    cursor: pointer;
}
/* homepage-mall-section */
.homepage-mall-section {
    padding-top: 20px;
}
.homepage-mall-section .homepage-mall-section__header {
    padding: 0px 20px;
    font-size: 1.3em;
    line-height: 4em;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.homepage-mall-section .homepage-mall-section__header a {
    text-decoration: none;
    color: rgb(208, 1, 27);
}

.homepage-mall-section .homepage-mall-section__header img {
    height: 25px;
    font-size: 16px;
    line-height: 4em;
    flex-grow: 1;
    transform: translateY(0.4em);
}
.homepage-mall-section .homepage-mall-section__contain {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0px 10px 10px;
}

.homepage-mall-section__contain-list-items {
    display: flex;
    list-style: none;
    flex-grow: 2;
}
.homepage-mall-section__contain-list-items .item {
    flex-grow: 1;
    display: inline-block;
}
.homepage-mall-section__contain-list-items .item .item__wrap {
    position: relative;
    display: inline-block;
    padding: 10px;
    box-sizing: content-box;
}
.homepage-mall-section__contain-list-items .item .item__wrap-icon {
    width: 180px;
    height: 216px;
}
.homepage-mall-section__contain-list-items .item .item__wrap-text {
    position: absolute;
    left: 1.8em;
    bottom: 18px;
    color: #d0011b;
    font-size: 1.5em;
}

/* Trending */ 
.section-trending-search-list .section-trending-search-list__header {
    padding: 0px 20px;
    color: rgba(0,0,0,.54);
    font-size: 1.3rem;
    margin-bottom: 1em;
}
.section-trending-search-list .section-trending-search-list__item {
    display: flex;
}
.section-trending-search-list .item {
    padding-right: 10px;
    border-right: 1px solid rgba(0,0,0,.05);
    width: 240px;
    height: 100px;
    display: flex;
}
.section-trending-search-list .item-text {
    display: inline-block;
    width: 129.44px;
    padding: 20px 10px 20px 20px;
}
.section-trending-search-list .item-text1 {
    display: inline-block;
    font-size: 1.1em;
    color: #222;
}
.section-trending-search-list .item-text2 {
    display: inline-block;
    color: #757575;
}
.section-trending-search-list .item-bg {
    display: inline-block;
    width: 99.56px;
    height: 99.56px;
}

/* Top-Search */
.top-search {
    padding-top: 20px;
}
.top-search .top-search__header {
    padding: 0px 20px;
    color: #ee4d2d;
    font-size: 1.5rem;
    line-height: 2.8em;
    border-bottom: solid rgba(0,0,0,.05)
}
.top-search .top-search__content-list-items {
    list-style: none;
    display: flex;
}
.top-search .item__wrap:hover {
    cursor: pointer;
}
.top-search .item__wrap {
    display: inline-block;
}
.top-search .item {
    display: inline-block;
    padding: 20px 10px;
}
.top-search .item-img {
    width: 180px;
    height: 180px;
}
.top-search .item-text {
    width: 180px;
    margin-top: 20px;
    font-size: 1.3em;
}
/* FOOTER */
.footer__about {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.footer__about ul {
    margin-top: 15px;
}

.footer__about li {
    list-style: none;
}

.footer__about a {
    color: gray;
    text-decoration: none;
    line-height: 2em;
}

.footer__about a:hover {
    color: red;
}

.footer__TẢI-ỨNG-DỤNG-SHOPPE-NGAY-THÔI a {
    display: block;
}

.footer__download {
    margin: 3px 0px;
}

.footer .space {
    width: 85%;
    margin: 5em auto;
    border-top: 1px solid gray;
}

.footer__intro-1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2em;
    margin-top: 3em;
}

.footer__intro-1 {
    font-size: 1.1em;
    opacity: 0.6;
}
.footer__intro-1-a {
    width: 30%;
}

.footer__intro-1-b {
    margin-left: 2.5em;
    width: 70%;
}
.footer__intro-1-b a {
    color: #000;
    text-decoration: none;
}

.footer__intro-2 {
    opacity: 0.6;
    text-align: center;
    margin: 5em 0em 4em 0em;
}

.footer__intro-2 a {
    color: black;
    text-decoration: none;
    margin: 0em 2em;
}

.footer__intro-3 {
    text-align: center;
}

.footer__intro-3 img {
    width: 10em;
    margin: 0 1em;
}

.footer__intro-4 {
    text-align: center;
    color: black;
    margin-bottom: -2em;
    opacity: 0.7;
}
