header {
    display: flex;
    height: 84px;
    justify-content: space-around;
    align-items: center;
}

.header__link-and-text {
    display: flex;
    align-items: center;
    width: 30em;
    height: 100%;
}

.header__link {
    background: url(../img/iconShoppe.jpg) no-repeat center;
    background-size: auto 3.5em;
    width: 15em;
    height: 100%;
    transform: translateY(-0.5em);
}

.header__text {
    display: inline-block;
    font-size: 2.0em;
}

.header__support {
    text-align: center;
    line-height: 100%;
    text-decoration: none;
    color: red;
}

/* Content */ 

.content {
    position: relative;
    background-color: rgb(238, 77, 45);
    width: 100%;
    height: 600px;
}
.content__background {
    height: 100%;
    background: url(../img/shoppeSale.jpg) no-repeat center /contain;
}

.content .form {
    position: absolute;
    height: 429px;
    width: 400px;
    background-color: white;
    top: 0;
    left: 0;
    margin-top: 6.5em;
    margin-bottom: 6.5em;
    margin-left: 60%;
    margin-right: auto;
    border-radius: 5px;
    padding: 30px;
}

.form__header {
    font-size: 1.5em;
    color: #222;
    margin: 5px 0px 25px 0px;
}

.form__input-tag {
    padding: 12px;
    width: 100%;
    opacity: 0.6;
    margin: 5px 0px 15px 0px; 
}

.form__button-tag {
    cursor: no-drop;
    display: block;
    width: 100%;
    margin: 5px 0px 15px 0px; 
    height: 3rem;
    background-color: #ee4d2d;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    opacity: .7;
    font-size: 14px;
}

.form__text {
    margin: 30px 0px 15px 0px;
    text-align: center;
    opacity: 0.3;
}

.form__button-register-other {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-register-other {
    height: 3.2em;
    border-radius: 3px;
    border: 1px solid gray;
    color: black;
    width: 49%;
    cursor: pointer;
    opacity: .8;
}

.button-register-other:hover {
    background-color: gainsboro;
}

.form__note {
    line-height: 1.2em;
    margin: 25px 0px 20px 0px;
    padding: 0px 25px;
    text-align: center;
    color: black;
}

.form__note .form__note-link-note {
    text-decoration: none;
    color: red;
}

.form__sign-in, .form__sign-up {
    margin: 25px 0px 5px 0px;
    font-size: 1.1em;
    text-align: center;
}

.form__sign-in .form__sign-in-text, 
.form__sign-up .form__sign-up-text{
    display: inline-block;
    opacity: 0.4;
}

.form__sign-in a,
.form__sign-up a {
    color: red;
    text-decoration: none;
}

/* FOOTER */
.footer__about {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.footer__about ul {
    margin-top: 15px;
}

.footer__about li {
    list-style: none;
}

.footer__about a {
    color: gray;
    text-decoration: none;
    line-height: 2em;
}

.footer__about a:hover {
    color: red;
}

.footer__TẢI-ỨNG-DỤNG-SHOPPE-NGAY-THÔI a {
    display: block;
}

.footer__download {
    margin: 3px 0px;
}

.footer .space {
    width: 85%;
    margin: 5em auto;
    border-top: 1px solid gray;
}

.footer__intro-1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2em;
    margin-top: 3em;
}

.footer__intro-1 {
    font-size: 1.1em;
    opacity: 0.6;
}
.footer__intro-1-a {
    width: 30%;
}

.footer__intro-1-b {
    margin-left: 2.5em;
    width: 70%;
}
.footer__intro-1-b a {
    color: #000;
    text-decoration: none;
}

.footer__intro-2 {
    opacity: 0.6;
    text-align: center;
    margin: 5em 0em 4em 0em;
}

.footer__intro-2 a {
    color: black;
    text-decoration: none;
    margin: 0em 2em;
}

.footer__intro-3 {
    text-align: center;
}

.footer__intro-3 img {
    width: 10em;
    margin: 0 1em;
}

.footer__intro-4 {
    text-align: center;
    color: black;
    margin-bottom: -2em;
    opacity: 0.7;
}
